# Ignored files and directories #
#################################
*.log
*.bak
.env
data/*
data/badger/*
vendor/
crosscompile*.sh
gorest
server/server
keys
tmp
.vscode
coverage.txt
pri*key*.pem
pub*key*.pem
